/* mios */
*{
  margin: 0;
  padding: 0;
  
}

.container-home{
  height: 100vh; /* Asegúrate de que ocupe toda la altura de la pantalla */
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('../public/Header.jpg'); /* Aquí pones la ruta de tu imagen */
  background-size: cover; /* La imagen se adapta al contenedor */
  background-position: center; /* Centra la imagen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #E0E0E0 ; /* Cambia el color de texto si es necesario */
  text-align: center;
}

.contenedor-navbar{
  background-color: #1E1E1E ;
  color: #E0E0E0 ;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.nav-buttons{
  display: flex;
  gap: 1rem;
}

.total-button{
  margin-left: auto;
}

.container-pizzas{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}