.form-login{
    color: black;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
    width: 30%;
    font-size: 1.5rem;
    text-align: start;
    background-color: whitesmoke;
    overflow: hidden;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}