/* mios */
* {
  margin: 0;
  padding: 0;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Navbar */
.container-navbar {
  background-color: #1e1e1e;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.nav-buttons {
  display: none;
  gap: 1rem;
}

.total-button {
  display: none;
}

/* Home */

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e0e0e0;
  text-align: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.container-header {
  /* background */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../public/Header.jpg");
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 16rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-pizzas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

/* footer */

.footer-text {
  color: whitesmoke;
  background-color: #1e1e1e;
  text-align: center;
  padding: 2rem;
  margin: 0;
}

/* MQ */
@media (min-width: 768px) {
  .app-container {
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  /* Navbar */
  .nav-buttons {
    display: flex;
    gap: 1rem;
  }

  .total-button {
    display: block;
    margin-left: auto;
  }

  /* Home */
  .container-header {
    height: 20rem;
  }

  .container-pizzas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /*Cart*/
  .container-cart{
    color: #1e1e1e;
    width: 400px;
    text-align: start;
  }

  .container-cart ul{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .container-cart li{
    list-style: none;
    width: 100%;
    display: flex;  
    align-items: center;  
    text-align: start;
  }

  .container-cart li img{
    width: 100px;
    margin-right: 0.5rem;
  }

  .name-pizza {
    flex: 1; /* toma el espacio disponible del contenedor padre */
    font-weight: bold;
  }

  .price-pizza{
    margin-right: 0.5rem;
  }

  .cart-cantidades{
    display: flex;
    align-items: center;
  }

  .cart-cantidades span{
    margin: 0 5px;
  }

  .cart-cantidades button{
    all:unset;
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }

  .cart-cantidades .increase{
    color: blue;
    border-color: blue;
  }

  .cart-cantidades .decrease{
    color: red;
    border-color: red;
  }

  .container-cart p{
    font-weight: bold;
    font-size: 1.5rem;
  }
}

